{
  "env": {
    "CLAUDE_CODE_DISABLE_ADAPTIVE_THINKING": "1",
    "MAX_THINKING_TOKENS": "127999"
  },
  "attribution": {
    "commit": "",
    "pr": ""
  },
  "permissions": {
    "allow": [
      "Bash(sysctl -n machdep.cpu.brand_string)",
      "Bash(sysctl -n hw.memsize)",
      "Bash(system_profiler SPDisplaysDataType)",
      "Bash(system_profiler SPHardwareDataType)"
    ],
    "defaultMode": "acceptEdits"
  },
  "statusLine": {
    "type": "command",
    "command": "/opt/homebrew/bin/bun {{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-hud/claude-hud/0.0.10/src/index.ts"
  },
  "enabledPlugins": {
    "frontend-design@claude-plugins-official": true,
    "superpowers@claude-plugins-official": true,
    "context7@claude-plugins-official": true,
    "code-simplifier@claude-plugins-official": true,
    "typescript-lsp@claude-plugins-official": true,
    "swift-lsp@claude-plugins-official": true,
    "claude-hud@claude-hud": true
  },
  "extraKnownMarketplaces": {
    "claude-hud": {
      "source": {
        "source": "github",
        "repo": "jarrodwatts/claude-hud"
      }
    },
    "ui-ux-pro-max-skill": {
      "source": {
        "source": "github",
        "repo": "nextlevelbuilder/ui-ux-pro-max-skill"
      }
    }
  },
  "effortLevel": "high",
  "skipDangerousModePermissionPrompt": true
}
